.parallax{
    // background-image: url('../../assets/img/about.jpg');
}

.line {
    /* 	flex-basis: 50%; */
        font-size: 40px;
        color: #14f7c1;
        letter-spacing: 10px;
        position: absolute;
        opacity: 0;
    }

    


    